mswin/VS12/*
mswin/VS19/*
.vscode
build
build*
src/Builds/
src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/SVMisc/CMakeFiles/
src/SVMisc/Makefile
src/SVMisc/cmake_install.cmake
src/SVClient/CMakeFiles/
src/SVClient/Makefile
src/SVClient/cmake_install.cmake
src/SVClientExample/CMakeFiles/
src/SVClientExample/Makefile
src/SVClientExample/cmake_install.cmake
src/SVBase/CMakeFiles/
src/SVBase/Makefile
src/SVBase/cmake_install.cmake
src/SVExportPanel/CMakeFiles/
src/SVExportPanel/Makefile
src/SVExportPanel/SVExportPanel_autogen/
src/SVExportPanel/cmake_install.cmake
src/SVGraphPanel/CMakeFiles/
src/SVGraphPanel/Makefile
src/SVGraphPanel/SVGraphPanel_autogen/
src/SVGraphPanel/cmake_install.cmake
src/SVMonitor/CMakeFiles/
src/SVMonitor/Makefile
src/SVMonitor/SVMonitor_autogen/
src/SVMonitor/cmake_install.cmake
src/SVServer/CMakeFiles/
src/SVServer/Makefile
src/SVServer/cmake_install.cmake
src/SVStatPanel/CMakeFiles/
src/SVStatPanel/Makefile
src/SVStatPanel/SVStatPanel_autogen/
src/SVStatPanel/cmake_install.cmake
src/SVViewer/CMakeFiles/
src/SVViewer/Makefile
src/SVViewer/SVViewer_autogen/
src/SVViewer/cmake_install.cmake
src/SVWriterExample/CMakeFiles/
src/SVWriterExample/Makefile
src/SVWriterExample/cmake_install.cmake
src/cmake_install.cmake
src/SVWebServer/website/node_modules
src/SVWebServer/website/.vscode
src/CMakeLists.txt.user
