.treeWidget-node-container {
	width: 100%;
	background-color: rgb(137, 139, 143);
	color: rgb(255, 255, 255);
	height: 30px;	
	border-bottom: solid 1px rgb(73, 73, 73);
}

.treeWidget-node-container:hover {
	background-color: rgb(116, 112, 112);
}

.treeWidget-leaf-container {
	width: 100%;
	background-color: rgb(94, 96, 99);
	color: rgb(255, 255, 255);
	height: 30px;
	border-bottom: solid 1px rgb(73, 73 ,73);
}

.treeWidget-leaf-container:hover {
	background-color: rgb(73, 73, 73);
}